{
    "presets": [
        "flow",
        [
            "env", {
                "targets": {
                    "browsers": ["ie < 8"]
                },
                "debug": true
            }
        ]
    ]
}
